@{title('Setup')}
@{layout('')}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=10" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, viewport-fit=cover" />
	<meta name="robots" content="all,follow" />
	<link rel="stylesheet" href="https://cdn.componentator.com/spa.min@19.css" />
	<script src="https://cdn.componentator.com/spa.min@19.js"></script>
	@{import('meta', 'head', 'ui.css + default.css + editor.min@1.css', 'ui.js + func.js + filesaver.min.js + editor.min@1.js', 'favicon.ico')}
</head>
<body data---="exec">

	<div data---="LAZY menu__null__style:2"></div>
	<div data---="LAZY clipboard"></div>
	<div data---="LAZY floatinginput"></div>
	<div data---="LAZY filereader"></div>
	<div data---="LAZY fileuploader"></div>
	<div data---="LAZY message__null__style:2"></div>
	<div data---="LAZY approve"></div>
	<div data---="LAZY directory__null__placeholder:@(Search)"></div>
	<div data---="LAZY colorpicker"></div>
	<div data---="LAZY faicons"></div>
	<div data---="LAZY notify__null__position:bottom right"></div>

	<div data---="markdown"></div>
	<div data---="loading__null__style:2" class="hidden"></div>
	<div data---="windows__common.windows"></div>

	<div data---="navlayout__common.menu__parent:window;hide:xs;width:230" class="invisible">

		<section style="background-color:#FFF">
			<header>
				<div class="consumption" data-bind="common.consumption__template">
					<script type="text/html">
						{{ value.memory }} MB <i class="fas fa-microchip"></i>
					</script>
				</div>
				<div class="exec" data-exec="common/menu" data-if="/">@{MAIN.name} v@{MAIN.version}</div>
			</header>

			<div class="nav" style="background-color:transparent">
				<div data---="viewbox__null__parent:auto;margin:95;scrollbar:0;visible:0">
					<nav data---="selected__NAV.url__selector:div">
						<div class="exec" data-exec="common/page" data-if="/"><i class="fa fa-cog"></i>@(Setup)</div>
						<div class="exec" data-exec="common/page" data-if="/extensions/"><i class="fa fa-plug"></i>@(Extensions)</div>
						<hr />
						<div class="exec b" data-exec="common/page" data-if="/profiles/" data-or="profiles"><i class="far fa-file-alt"></i>@(Profiles)</div>
						<div class="exec" data-exec="common/page" data-if="/logs/"><i class="fas fa-history"></i>@(Logs)</div>
					</nav>
				</div>
			</div>
		</section>

		<main style="background-color:#FFF;border-left:1px solid #E0E0E0">

			<div data---="breadcrumb__common.breadcrumb__style:2;root:@(Setup);$id:profilesbreadcrumb;icon:fas fa-home;url:/;$assign:BREADCRUMB" >
				<div data---="virtualwire__common.page"></div>
			</div>

			<div data---="part__common.page__if:pagesetup;url:/parts/setup.html;reload:?/reload;autofocus:1" class="invisible"></div>
			<div data---="part__common.page__if:pagelogs;url:/parts/logs.html;reload:?/reload" class="invisible"></div>
			<div data---="part__common.page__if:pageclients;url:/parts/clients.html;init:?/init" class="invisible"></div>
			<div data---="part__common.page__if:pagetemplates;url:/parts/templates.html;reload:?/reload" class="invisible"></div>
			<div data---="part__common.page__if:pageprofiles;url:/parts/profiles.html;reload:?/reload" class="invisible"></div>
			<div data---="part__common.page__if:pageextensions;url:/parts/extensions.html;reload:?/reload" class="invisible"></div>
		</main>

	</div>

	<div data---="importer__common.form__if:codeform;url:/forms/code.html"></div>
	<div data---="importer__common.form__if:profileform;url:/forms/profile.html"></div>
	<div data---="importer__common.form__if:templateform;url:/forms/template.html"></div>
	<div data---="importer__common.form__if:testform;url:/forms/test.html"></div>

	<script>

		WAPI({ url: QUERIFY('/setup/', NAV.query), message: function(msg) {
			EMIT('wapi', msg);
		}});

		ENV('ts', 'yyyy-MM-dd HH:mm:ss');

		DEF.ajaxerrors = true;
		DEF.repeatfocus = false;
		NAV.custom();

		var common = {};

		common.windows = [];
		common.page = '';
		common.isbundle = '@{F.isBundle}' === 'true';

		PLUGIN('common', function(exports) {

			exports.refresh = function() {
				WAPI('usage', 'common.consumption');
			};

			exports.menu = function(el) {
				var opt = {};
				opt.element = el;
				opt.items = [];
				common.isbundle && opt.items.push({ id: 'update', name: '@(Update bundle)', icon: 'fas fa-sync' });
				opt.items.push({ id: 'logout', name: '@(Logout)', icon: 'fas fa-power-off red' });
				opt.callback = function(selected) {

					if (selected.id === 'update') {
						SETTER('approve/show', '@(Are you sure you want to update the OpenTemplates version?)', '"fas fa-sync" @(Upload bundle)', function() {
							var opt = {};
							opt.multiple = false;
							opt.url = location.href;
							opt.callback = function(response, err) {
								if (err) {
									SETTER('message/warning', err);
								} else {
									SETTER('loading/show');
									setTimeout(() => location.reload(), 5000);
								}
							};
							SETTER('fileuploader/upload', opt);
						});
					}

					if (selected.id === 'logout')
						location.href = '/';

				};
				SETTER('menu/show', opt);
			};

			exports.page = function(el) {
				REDIRECT(el.attrd('if'));
			};

			exports.preview = function(html, model, layout, secondary) {

				var id = 'preview';

				if (common.windows.findItem('id', id)) {
					EXEC(true, 'preview/render', html, model || {}, layout, secondary);
					SETTER('windows/toggle', id);
					return;
				}

				var win = {};
				win.id = id;
				win.cachekey = id;
				win.title = '@(Preview)';
				win.hidden = false;
				win.actions = { minimize: false, maximize: true, move: true, resize: true, hide: true, close: true, menu: false, autosave: true };
				win.offset = { x: WW / 2 - 490 >> 0, y: WH / 2 - 300 >> 0, width: 980, height: 600, hidden: false };
				win.html = '<div data-im' + 'port="url:/forms/preview.html"></div>';
				win.make = function(el) {
					el.aclass('noscrollbar');
				};
				EXEC(true, 'preview/render', html, model || {}, layout, secondary);
				PUSH('common.windows', win);
			};

			setInterval(exports.refresh, 30000);
			exports.refresh();

		});

		MIDDLEWARE('breadcrumb', function(next) {
			WAIT('BREADCRUMB', next);
		});

		ROUTE('/', function() {
			BREADCRUMB.add('');
			SET('common.page', 'pagesetup');
		}, 'breadcrumb');

		ROUTE('/extensions/', function() {
			BREADCRUMB.add('@(Extensions)', NAV.url);
			SET('common.page', 'pageextensions');
		}, 'breadcrumb');

		ROUTE('/profiles/', function() {
			BREADCRUMB.add('@(Profiles)', NAV.url);
			SET('common.page', 'pageprofiles');
		}, 'breadcrumb');

		ROUTE('/profiles/{id}/', function(id) {
			WAPI('profiles_read/{0}?type=basic @showloading'.format(id), ERROR(function(response) {
				BREADCRUMB.add('@(Profiles)', '../')(response.name, NAV.url);

				try {
					response.helpers = response.helpers ? new Function('return ' + response.helpers)() : EMPTYOBJECT;
				} catch (e) {
					response.helpers = EMPTYOBJECT;
				}

				try {
					response.model = response.model ? new Function('return ' + response.model)() : EMPTYOBJECT;
				} catch (e) {
					response.model = EMPTYOBJECT;
				}

				SET('pagetemplates.layout', response);
				SET('common.page', 'pagetemplates');
			}, function() {
				REDIRECT('../');
			}));
		}, 'breadcrumb');

		ROUTE('/logs/', function() {
			BREADCRUMB.add('@(Logs)', NAV.url);
			SET('common.page', 'pagelogs');
		}, 'breadcrumb');

		ON('@flag showloading', function() {
			SETTER('loading/show');
		});

		ON('@flag hideloading', function() {
			SETTER('loading/hide', 800);
		});

	</script>

</body>
</html>