<div class="virtualwire hidden" data-if="~PATH~">
	<div style="padding-top:5px">
		<a href="https://docs.totaljs.com/opentemplates/" target="_blank" class="gray fs12"><i class="fa fa-book mr5"></i>@(Documentation)</a>
	</div>
</div>

<div data-scope="~PATH~">
	<div data---="viewbox__common.page__scrollbar:0;visibleY:0;margin:50;parent:window" class="invisible" style="background:#F0F0F0">
		<div class="centered" style="max-width:740px">
			<div data---="viewbox__common.page__parent:auto;margin:120;scrollbar:1;visibleY:1" class="invisible">
				<div class="padding">
					<div style="margin-bottom:15px" data-bind="NAV.query.success__show" class="hidden">
						<div class="message message-success"><i class="fa fa-check-circle"></i>@(Setup has been saved succesfully)</div>
					</div>
					<div class="row">
						<div class="col-md-6 m">
							<div data---="input__?.name__required:1__''">@(Name)</div>
							<div class="help">@(Name for this instance)</div>
						</div>
						<div class="col-md-6 m">
							<div data---="input__?.path__required:1" data-bind="?.ispath__disabled">@(Storage path)</div>
							<div class="help">@(Path can contain absolute path in the form: <code>~/path/to/database/</code>)</div>
						</div>
					</div>
					<hr class="nmt" />
					<div class="help m">@(If you want to disconnect this setup interface for everyone with the token, check the control below. However, be careful because you won't be able to change anything for this OpenTemplates instance.)</div>
					<div>
						<div data---="input__?.disconnected__type:checkbox"><b class="red">@(Disconnect the setup interface)</b></div>
					</div>
					<div data-bind="?.disconnected__hide">
						<br />
						<div data---="input__?.token__required:1;camouflage:1">@(Setup token)</div>
						<div class="help"><span class="exec link" data-exec="?/generate_setup"><i class="fas fa-random"></i>@(Generate token)</span>. @(Setup token is important for access to the OpenTemplates setup.)</div>
					</div>
					<hr />
					<div data---="input__?.totalapi__camouflage:1">@(Total API token)</div>
					<div class="help"><a href="https://docs.totaljs.com/totalapi/" target="_blank">@(Get API token)</a> @(for generating PDF documents.)</div>
					<hr />
					<div data---="input__?.log_requests__type:checkbox">@(Log all requests)</div>
				</div>
				<hr class="nmt nmb" />
				<div class="padding">
					<br />
					<div class="caption">
						<div class="toolbar">
							<button class="exec" data-exec="?/add"><i class="fa fa-plus-circle green"></i>@(Add)</button>
						</div>
						<label><i class="fas fa-key"></i>@(Access tokens)</label>
					</div>
					<br />
					<div class="listing2" data-bind="?.tokens__template">
						<script type="text/html">
							{{ if value && value.length }}
								{{ foreach m in value }}
									<figure data-index="{{ $index }}">
										<section class="exec2" data-exec2="?/edit">
											<div class="pull-right exec" data-exec="?/options">
												<i class="fas fa-ellipsis-h"></i>
											</div>
											<div class="b">{{ m.name }}</div>
											<div class="mt5">
												<div class="keyvalue small">
													<span>@(Profiles)</span>
													<div>{{ if m.profiles && m.profiles.length }}{{ m.profiles | setupprofiles }}{{ else }}<b>@(all profiles)</b>{{ fi }}</div>
												</div>
												<div class="keyvalue small">
													<span>@(Access token)</span>
													<div><span class="token b monospace" data-backup="{{ m.token }}">***********************</span></div>
												</div>
											</div>
										</section>
									</figure>
								{{ end }}
							{{ else }}
								<div class="empty">
									<i class="fa fa-database"></i>
									<div>@(No tokens)</div>
									<summary>@(OpenTemplates does not contain any access token)</summary>
								</div>
							{{ fi }}
						</script>
					</div>
					<br />
				</div>
				<!--
				<hr class="nmt nmb" />
				<div class="padding">
					<br />
					<div class="caption m">
						<div class="pull-right" style="margin:5px 10px 0 0">
							<div data---="togglebutton__?.allow_tms"></div>
						</div>
						<label><i class="fab fa-node-js"></i>@(Total.js Message Service)</label>
					</div>
					<p><i class="fas fa-circle mr5" data-bind="?.allow_tms__.green__.red:!value"></i>@(TMS allows you to subscribe insert, update, modify and upload operations in this OpenTemplates instance). @(For more information follow:) <a href="https://docs.totaljs.com/tms/" target="_blank">@(TMS documentation)</a>.</p>
					<div data---="input__?.secret_tms__camouflage:1;required:1" data-bind="?.allow_tms__enable">@(Secret key)</div>
					<div class="help"><span class="exec link" data-exec="?/generate_tms"><i class="fas fa-random"></i>@(Generate token)</span></div>
					<hr />
					<div class="message message-alert" data-bind="location.origin__text b:value + '/$tms/'"><i class="fa fa-exclamation-triangle"></i>@(Endpoint for the Total.js Message Service app will be in the form <b></b>)</div>
				</div>-->
			</div>
			<div data---="validation__?__track:tokens,resend" class="padding" style="border-top:1px solid #E0E0E0">
				<button class="button exec b" data-exec="?/submit" name="submit" disabled><i class="far fa-check-circle"></i>@(APPLY)</button>
			</div>
		</div>
	</div>
</div>

<div data---="importer__common.form__if:tokenform;url:/forms/token.html"></div>

<script>

	Thelpers.setupprofiles = function(val) {
		var profiles = ~PATH~.profiles || EMPTYARRAY;
		var output = [];

		for (var item of profiles) {
			if (val.indexOf(item.id) !== -1)
				output.push(item.name);
		}

		return output.join(', ');
	};

	Thelpers.token = function(val) {
		var index = val.indexOf('token=');
		return index === -1 ? val : val.substring(0, index + 6) + ''.padLeft((val.length - (index + 6)), '*');
	};

	PLUGIN('~PATH~', function(exports) {

		exports.generate_setup = function() {
			SET('?.token @change', Date.now().toString(36) + 'X' + GUID(25), 'show');
		};

		exports.generate_tms = function(force) {
			var model = GET('?');
			if (force === true || model.allow_tms)
				SET('?.secret_tms @change', Date.now().toString(36) + 'X' + GUID(25), 'show');
		};

		exports.add = function(el) {
			SET('tokenform @default', { token: Date.now().toString(36) + 'X' + GUID(25), newbie: true });
			SET('common.form', 'tokenform');
		};

		exports.submit = function() {
			var model = CLONE(exports.form);
			delete model.profiles;
			WAPI('save @showloading', model, function() {
				if (NAV.query.token !== model.token)
					location.href = location.pathname + '?token=' + model.token + '&success=1';
				else
					SET('NAV.query.success @hideloading', 1);
			});
		};

		exports.reload = function() {
			exports.refresh();
		};

		exports.refresh = function() {
			WAPI('read', function(response) {

				response.ispath = !!response.path;

				if (!response.path)
					response.path = '/databases/';

				SET('?', response);

				if (!response.token) {
					setTimeout(function() {
						exports.generate_setup();
						exports.generate_tms(true);
					}, 1000);
				}

			});
		};

		exports.edit = function(el) {
			var model = GET('?');
			var index = +el.attrd2('index');
			var item = model.tokens[index];
			SET('tokenform @reset', CLONE(item));
			SET('common.form', 'tokenform');
		};

		exports.show = function(el) {
			el = el.find('.token');
			var current = el.text();
			var old = el.attrd('backup');
			el.attrd('backup', current);
			el.text(old)
		};

		exports.options = function(el) {

			var model = GET('?');
			var index = +el.attrd2('index');
			var item = model.tokens[index];
			var opt = {};
			opt.element = el;
			opt.align = 'right';
			opt.items = [];
			opt.items.push({ id: 'url', name: '@(Copy URL address)', icon: 'far fa-copy', classname: 'b' });
			opt.items.push('-');
			opt.items.push({ id: 'show', name: '@(Show token)', icon: 'fas fa-eye' });
			opt.items.push({ id: 'copy', name: '@(Copy token)', icon: 'far fa-copy' });
			opt.items.push({ id: 'edit', name: '@(Edit)', icon: 'fa fa-pencil' });
			opt.items.push('-');
			opt.items.push({ id: 'remove', name: '@(Remove)', icon: 'fas fa-trash-alt red' });
			opt.callback = function(selected) {
				if (selected.id === 'url') {
					SETTER('clipboard/copy', location.origin + '/?token=' + item.token);
				} else if (selected.id === 'show') {
					exports.show(el.closest('section'));
				} else if (selected.id === 'copy') {
					SETTER('clipboard/copy', item.token);
				} else if (selected.id === 'remove') {
					model.tokens.splice(index, 1);
					UPD('?.tokens');
				} else if (selected.id === 'edit') {
					SET('tokenform @reset', CLONE(item));
					SET('common.form', 'tokenform');
				}
			};

			SETTER('menu/show', opt);
		};

		exports.options_resend = function(el) {
			var model = GET('?');
			var index = +el.attrd2('index');
			var item = model.resend[index];
			var opt = {};
			opt.element = el;
			opt.align = 'right';
			opt.items = [];
			opt.items.push({ id: 'remove', name: '@(Remove)', icon: 'fas fa-trash-alt red' });
			opt.callback = function(selected) {
				if (selected.id === 'remove') {
					model.resend.splice(index, 1);
					UPD('?.resend');
				}
			};
			SETTER('menu/show', opt);
		};

	});

</script>